@using AssetManagerServer.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet"
              href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
              integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
              crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Аналитика</title>
</head>
<body>
<div>
    <table>
        
        <tr>
            <td>
                <p>Актив</p></td>
            <td>
                <p>Привлекательность покупки</p></td>
            <td>
                <p>Привлекательность продажи</p></td>
            <td></td>
        </tr>
        @{
            var assetAnalytics = new List<AssetAnalytic>();
            foreach (var analytic in ViewBag.AssetAnalytics)
            {
                assetAnalytics.Add(new AssetAnalytic(analytic as AssetAnalytic));
            }
        }
        @foreach (var analytic in assetAnalytics)
        {
            <tr>
                <td>
                    <p>@analytic.AssetName</p></td>
                <td>
                    <p>@analytic.BuyRate</p></td>
                <td>
                    <p>@analytic.SellRate</p></td>
            </tr>
        }
    </table>
            <a href="/Home/Operations">Операции</a>
            <a href="/Home/Posts">Посты</a><br/>
            <a href="/Home/News">Новости</a>
            <a href="/Home/Analytics">Аналитика</a>
</div>
</body>
</html>