@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <table class="pure-table pure-table-bordered" id="screenCenter">
        <tr>
            <th>Актив</th>
            <th>Привлекательность покупки</th>
            <th>Привлекательность продажи</th>
        </tr>
        @{
            var assetAnalytics = (ViewBag.AssetAnalytics as DbSet<AssetAnalytic>)?.ToList();

            if (assetAnalytics == null)
            {
                throw new NullReferenceException(Constants.Exceptions.NullListGot);
            }

            foreach (var analytic in assetAnalytics)
            {
                <tr>
                    <td>@analytic.AssetName</td>
                    <td>@analytic.BuyRate</td>
                    <td>@analytic.SellRate</td>
                </tr>
            }
        }
    </table>
</div>
</body>
</html>