@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet"
              href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
              integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
              crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новый пост</title>
</head>
<body>
<div>
    <form method="post" action="" class="pure-form">
        <fieldset>
            <input type="hidden" name="UserId" value="@int.Parse(Session["userId"].ToString())"/>;
            <textarea name="Text" style="width:250px;height:150px;">Писать тут...</textarea><br/>
            @Helpers.ConfirmButtonPureStyled("Опубликовать", "")
        </fieldset>
    </form>
</div>
</body>
</html>