@using AssetManagerServer.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <table class="pure-table" id="screenCenter">
        @{
            var i = 0;
            foreach (var newsItem in ViewBag.NewsItems)
            {
                <tr class="@(i == 0 ? "pure-table-odd" : "")">
                    @Helpers.SocialWebElement(newsItem.Header, newsItem.Datetime, newsItem.Text)
                </tr>
                i++;
            }
        }
    </table>
</div>
</body>
</html>