@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
@{
    var newsItems = (ViewBag.NewsItems as DbSet<NewsItem>)?.ToList();

    if (newsItems == null)
    {
        throw new NullReferenceException(Constants.Exceptions.NullListGot);
    }
}
<div>
    <table class="pure-table" id="screenCenter">
        @{
            var i = 0;
            foreach (var newsItem in newsItems.OrderByDescending(newsItem => newsItem.Datetime))
            {
                <tr class="@(i == 0 ? "pure-table-odd" : "")">
                    @Helpers.SocialWebElement(newsItem.Header, newsItem.Datetime, newsItem.Text)
                </tr>
                i++;
            }
        }
    </table>
</div>
</body>
</html>