@using AssetManagerServer.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet"
              href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
              integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
              crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Посты</title>
</head>
<body>
<div>
    <a href="/Home/NewPost/">Создать пост</a>
    <div>
        @{
            var posts = new List<Post>();
            foreach (var post in ViewBag.Posts)
            {
                posts.Add(new Post(post as Post));
            }
            var users = new List<User>();
            foreach (var user in ViewBag.Users)
            {
                users.Add(new User(user as User));
            }
        }
        @foreach (var post in posts)
        {
            <b>@users.First(user => user.Id == post.UserId).Name</b>
            <b>@post.Datetime.ToString("dd.MM.yyyy hh:mm:ss")</b><br/>
            <p>@post.Text</p>
        }
    </div>
</div>
</body>
</html>