@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <table class="pure-table" id="screenCenter">
        @{
            var users = (ViewBag.Users as DbSet<User>)?.ToList();
            
            if (users == null)
            {
                throw new NullReferenceException(Constants.Exceptions.NullListGot);
            }
            
            var i = 0;
            foreach (var post in ViewBag.Posts)
            {
                <tr class="@(i == 0 ? "pure-table-odd" : "")">
                    @Helpers.SocialWebElement(users.First(user => user.Id == post.UserId).Name, post.Datetime, post.Text)
                </tr>
                i++;
            }
        }
    </table>
    <div>
        <form method="post" action="" class="pure-form">
            <fieldset>
                <input type="hidden" name="UserId" value="@int.Parse(Session["userId"].ToString())"/>;
                <textarea name="Text" style="width:250px;height:150px;">Писать тут...</textarea><br/>
                @Helpers.ConfirmButtonPureStyled("Опубликовать", "")
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>