@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
@{
    var users = (ViewBag.Users as DbSet<User>)?.ToList();
    var posts = (ViewBag.Posts as DbSet<Post>)?.ToList();

    if (users == null || posts == null)
    {
        throw new NullReferenceException(Constants.Exceptions.NullListGot);
    }
}
<div>
    <div>
        <form method="post" action="" class="pure-form">
            <fieldset>
                <input type="hidden" name="UserId" value="@int.Parse(Session["userId"].ToString())"/>;
                <textarea name="Text" style="width:300px;height:50px;"></textarea><br/>
                @Helpers.ConfirmButtonPureStyled("Опубликовать", "")
            </fieldset>
        </form>
    </div>
    <table class="pure-table" id="screenCenter">
        @{
            var i = 0;
            foreach (var post in posts.OrderByDescending(post => post.Datetime))
            {
                <tr class="@(i == 0 ? "pure-table-odd" : "")">
                    @Helpers.SocialWebElement(users.First(user => user.Id == post.UserId).Name, post.Datetime, post.Text)
                </tr>
                i++;
            }
        }
    </table>
</div>
</body>
</html>