@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Регистрация</title>
</head>
<body>
<div>
    <h3>Invest Manager Inc.</h3>
    <form method="post" action="">
        Логин: <input type="text" name="Name"/><br/><br/>
        Название брокера: <input type="text" name="BrokerName"/><br/><br/>
        Пароль: <input type="text" name="Password"/><br/><br/>
        Повторите пароль: <input type="text" name="PasswordAgain"/><br/><br/>
        <input type="submit" value="Зарегистрироваться"/>
    </form>
</div>
</body>
</html>