@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<!DOCTYPE html>
 
<html>
<body>
<div id="screenCenter">
    <form method="post" action="" class="pure-form pure-form-aligned">
        <fieldset>
            @Helpers.TextBoxPureStyled("Name", "Логин")
            @Helpers.TextBoxPureStyled("Password", "Пароль", "", "password")
            <div class="pure-controls">
                <a href="/Home/Register/" class="pure-button pure-button-primary">Регистрация</a>
                <button type="submit" class="pure-button pure-button-primary">Войти</button><br/>
                <label>@(@ViewBag.NotifyMessage)</label>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>