@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Пользователи</title>
</head>
<body>
<div>
    <h3>Invest Manager Inc.</h3>
    <form method="post" action="">
        Логин: <input type="text" name="Name"/><br/><br/>
        Пароль: <input type="text" name="Password"/><br/><br/>
        <a href="/Home/Register/">Регистрация</a>
        <input type="submit" value="Войти"/>
    </form>
</div>
</body>
</html>