<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../../Content/Common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invest Manager Inc.</title>
</head>
<body>
<div class="pure-menu pure-menu-horizontal">
    <a href="/Home/Profile" class="pure-menu-heading pure-menu-link">Invest Manager Inc.</a>
    @if (Session["userId"] != null)
    {
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="/Home/Operations" class="pure-menu-link">Операции</a>
            </li>
            <li class="pure-menu-item">
                <a href="/Home/News" class="pure-menu-link">Новости</a>
            </li>
            <li class="pure-menu-item">
                <a href="/Home/Analytics" class="pure-menu-link">Аналитика</a>
            </li>
            <li class="pure-menu-item">
                <a href="/Home/Posts" class="pure-menu-link">Социальная сеть</a>
            </li>
            <li class="pure-menu-item">
                <a href="/Home/AddAsset" class="pure-menu-link">Добавить актив</a>
            </li>
            @if (ViewBag.IsExportPortfolio != null)
            {
                <li class="pure-menu-item">
                    <a href="/Home/ExportPortfolio?sort=@(ViewBag.Sort)&asc=@(ViewBag.Asc)" class="pure-menu-link">Выгрузить портфель</a>
                </li>
            }
            @if (ViewBag.IsExportOperations != null)
            {
                <li class="pure-menu-item">
                    <a href="/Home/ExportOperations?sort=@(ViewBag.Sort)&asc=@(ViewBag.Asc)" class="pure-menu-link">Выгрузить операции</a>
                </li>
            }
        </ul>
    }
</div>
<div class="container body-content">
    @RenderBody()
</div>
</body>
</html>